# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
.env.local

# DB
data/*.db
data/*.db-journal

# IDE
.vscode/
.idea/
.DS_Store

# 测试产物
.pytest_cache/
htmlcov/
*.log
output/

# K8s 临时
kubeconfig*